---
import { Image } from 'astro:assets';

import amir from '@assets/images/company/leadership/amir.png';
import arya from '@assets/images/company/leadership/arya.png';
import chris from '@assets/images/company/leadership/chris.png';
import faisal from '@assets/images/company/leadership/faisal.png';
import farooq from '@assets/images/company/leadership/farooq.png';
import maher from '@assets/images/company/leadership/maher.png';
import rashid from '@assets/images/company/leadership/rashid.jpg';
import rick from '@assets/images/company/leadership/rick.png';
import ritesh from '@assets/images/company/leadership/ritesh.png';
import sohali from '@assets/images/company/leadership/sohali.png';
import atif from '@assets/images/company/leadership/atif-bajwa.png';
import alex from '@assets/images/company/leadership/alex.png';

import LinkedinIcon from '@assets/images/company/leadership/linkedin.svg';

const {
  translations: {
    company: { leadership = {} },
  },
  country,
  lang,
} = Astro.locals;

const boardMemberOrder = [alex, amir, arya, atif, maher, faisal];

const boardMembers = boardMemberOrder.map((icon, index) => {
  return {
    image: icon,
    ...leadership.boardMembers[index],
  };
});

const teamMembers = [amir, sohali, rashid, chris, ritesh, rick].map((icon, index) => {
  return {
    image: icon,
    ...leadership.teamMembers[index],
  };
});
---

<div class='pt-8 pb-16 space-y-20'>
  <section class='max-w-[700px] lg:max-w-[1000px] mx-auto text-center px-4'>
    <h2 class='text-3xl lg:text-4xl font-bold text-[#1F2937] mb-3'>{leadership.title}</h2>
    <p class='text-2xl font-light text-black lg:text-3xl'>{leadership.description}</p>
  </section>

  <section class='flex flex-col gap-y-12'>
    {
      boardMembers.map((member, index) => (
        <div
          class={`flex flex-col ${index % 2 !== 0 ? 'md:flex-row' : 'md:flex-row-reverse'} items-center gap-x-12 gap-y-8 mx-auto max-w-[1000px]`}
        >
          <Image
            src={member.image}
            alt={member.name}
            class={`object-cover w-full max-w-[399px] max-h-[434px] md:aspect-[399/434] rounded-xl aspect-[358/390]`}
            widths={[358, 399]}
            sizes='(max-width: 768px) 358px, 399px'
            decoding={index === 0 ? 'sync' : 'async'}
            loading={index === 0 ? 'eager' : 'lazy'}
            quality='max'
          />

          <div class='w-full max-w-[399px] md:w-3/5 md:max-w-none'>
            <p class='mb-4 text-xl font-bold xl:text-2xl text-zinc-400'>{member.title}</p>
            <h3 class='mb-2 text-3xl font-extrabold xl:text-3xl text-slate-800'>{member.name}</h3>
            <p class='text-xl text-gray-500 xl:text-2xl'>{member.description}</p>
          </div>
        </div>
      ))
    }
  </section>

  <section class='flex flex-col gap-y-12 max-w-[1200px] mx-auto'>
    <div class='max-w-[700px] lg:max-w-[900px] mx-auto flex flex-col gap-y-4 items-center'>
      <h2 class='text-3xl font-extrabold text-center'>{leadership.team.title}</h2>
      <p class='text-xl text-center text-zinc-900'>{leadership.team.description}</p>
    </div>
    <div class='grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3'>
      {
        teamMembers.map((member) => (
          <div class='flex flex-col h-full mx-auto'>
            <div class='flex-grow'>
              <Image
                src={member.image}
                alt={member.name}
                class='rounded-xl w-full max-w-[358px] sm:max-w-[348px] object-cover aspect-[358/379] sm:aspect-[348/379] mb-4 shadow-sm mx-auto'
                widths={[348, 358]}
                sizes='(max-width: 640px) 358px, 348px'
                decoding='async'
                loading='lazy'
                quality='max'
              />
              <div class='w-full max-w-[358px] mx-auto'>
                <p class='text-sm text-[#6A30FF] mb-2'>{member.title}</p>
                <h3 class='text-lg font-semibold text-[#1F2937]'>{member.name}</h3>
                <p class='mb-1 text-xl text-gray-500'>{member.description}</p>
              </div>
            </div>
            {member.linkedin && (
              <a
                href={member.linkedin}
                target='_blank'
                rel='noopener noreferrer'
                class='inline-block mt-auto text-[#0A66C2] hover:opacity-80 transition-opacity'
                aria-label={`${member.name}'s LinkedIn Profile`}
              >
                <LinkedinIcon class='w-5 h-5' />
              </a>
            )}
          </div>
        ))
      }
    </div>
  </section>
</div>
