---
import LogoShowcase, { type Logo } from '@components/common/LogoShowcase.astro';

import bankAlfalah from '@assets/logos/bank-alfalah.svg';
import moneyGram from '@assets/logos/moneygram.svg';
import seedstars from '@assets/logos/seedstars.svg';
import aaico from '@assets/logos/aaico.svg';
import plugplay from '@assets/logos/plugplay.svg';
import fivehundred from '@assets/logos/500.svg';
import hGlobal from '@assets/logos/hglobal.png';
import elevision from '@assets/logos/elevision.svg';
import chandariacapital from '@assets/logos/chandriacapital.svg';
import gcc from '@assets/logos/gcc.svg';
import afex from '@assets/logos/afex.svg';
import westernunion from '@assets/logos/western-union.svg';
import mastercard from '@assets/logos/mastercard.svg';
import singx from '@assets/logos/singx.svg';
import emq from '@assets/logos/emq.svg';
import w2 from '@assets/logos/w2.svg';
import lean from '@assets/logos/lean.svg';
import finshape from '@assets/logos/finshape.svg';
import infinios from '@assets/logos/infinios.svg';
import network from '@assets/logos/network.svg';
import gamechange from '@assets/logos/gamechange.svg';

// Define widths/sizes for NON-SVG logos
const rasterWidths = [100, 140, 180];
const rasterSizes = '(max-width: 639px) 20vw, (max-width: 1023px) 12vw, 140px';

const {
  translations: { investors = {}, partners = {} },
} = Astro.locals;

const investorsLogos: Logo[] = [
  { src: bankAlfalah, alt: 'Bank Alfalah', href: 'https://www.bankalfalah.com/', isSvg: true },
  { src: moneyGram, alt: 'MoneyGram', href: 'https://www.moneygram.com/', isSvg: true },
  { src: seedstars, alt: 'Seedstars', href: 'https://www.seedstars.com/', isSvg: true },
  { src: aaico, alt: 'AAICO', href: 'https://appliedai.opus.com/', isSvg: true },
  { src: plugplay, alt: 'Plug Play', href: 'https://www.plugandplaytechcenter.com/', isSvg: true }, // Corrected name/link
  { src: fivehundred, alt: '500 Global', href: 'https://500.co/', isSvg: true }, // Corrected name
  // --- Non-SVG ---
  {
    src: hGlobal,
    alt: 'Haitou Global',
    href: 'http://www.haitouglobal.com/',
    isSvg: false,
    widths: rasterWidths,
    sizes: rasterSizes,
  },
  // --- SVGs ---
  { src: elevision, alt: 'Elevision', href: 'https://www.elevision.com/', isSvg: true },
  { src: chandariacapital, alt: 'Chandaria Capital', href: 'https://www.chandariacapital.com/', isSvg: true }, // Corrected name
];

const partnerLogos: Logo[] = [
  { src: bankAlfalah, alt: 'Bank Alfalah', href: 'https://www.bankalfalah.com/', isSvg: true }, // Duplicate included as per original
  { src: moneyGram, alt: 'MoneyGram', href: 'https://www.moneygram.com/', isSvg: true }, // Duplicate included as per original
  { src: westernunion, alt: 'Western Union', href: 'https://www.westernunion.com/', isSvg: true },
  { src: mastercard, alt: 'Mastercard', href: 'https://www.mastercard.com/', isSvg: true },
  { src: infinios, alt: 'Infinios', href: 'https://infinios.com/', isSvg: true },
  { src: network, alt: 'Network International', href: 'https://www.network.ae/', isSvg: true }, // Corrected name
  {
    src: w2,
    alt: 'W2 by FullCircl',
    href: 'https://www.fullcircl.com/using-fullcircl/w2-by-fullcircl-overview',
    isSvg: true,
  },
  { src: lean, alt: 'Lean Technologies', href: 'https://www.leantech.me/', isSvg: true }, // Corrected name
  { src: finshape, alt: 'Finshape', href: 'https://finshape.com/', isSvg: true },
  { src: emq, alt: 'EMQ', href: 'https://emq.com/', isSvg: true },
  { src: gcc, alt: 'GCC Remit', href: 'https://www.gccremit.com/', isSvg: true }, // Corrected name
  { src: gamechange, alt: 'GameChange', href: 'https://gamechange.com/', isSvg: true },
  { src: afex, alt: 'Al Fardan Exchange', href: 'https://alfardanexchange.com/', isSvg: true }, // Corrected name
  { src: singx, alt: 'SingX', href: 'https://www.singx.co/', isSvg: true },
];
---

<div
  class='flex flex-col gap-y-16 items-center px-4 py-16 mx-auto w-full sm:px-8 md:px-12 lg:px-16 lg:py-24 lg:gap-y-24'
>
  <LogoShowcase
    title={investors.title}
    description={investors.description}
    buttonText={investors.cta}
    buttonLink='#'
    logos={investorsLogos}
    selector='investors'
  />

  <LogoShowcase
    title={partners.title}
    description={partners.description}
    buttonText={partners.cta}
    buttonLink='#'
    logos={partnerLogos}
    selector='partners'
  />

  <logo-showcase-swiper class='hidden'></logo-showcase-swiper>
</div>
