---
import { Image } from 'astro:assets';

import logo from '@assets/logos/jplogowhitesvg.svg';

import facebook from '@assets/icons/facebook.svg';
import instagram from '@assets/icons/instagram.svg';
import twitter from '@assets/icons/twitter.svg';
import linkedin from '@assets/icons/linkedin.svg';
import youtube from '@assets/icons/youtube.svg';

// Define the navigation sections
const navSections = [
  {
    title: 'Features',
    links: [
      { href: '/features/all-in-one-account', text: 'All-In-One Account' },
      { href: '/features/bill-payments', text: 'Bill Payments' },
      { href: '/features/peer-to-peer-payments', text: 'Peer-to-Peer Payments' },
      { href: '/features/card-payments', text: 'Card Payments' },
    ],
  },
  {
    title: 'Accounts',
    links: [
      { href: '/products/mobile-app', text: 'Home Remittance Account' },
      { href: '/products/digital-wallet', text: 'Saving Account' },
      { href: '/products/business', text: 'Current Account' },
    ],
  },
  {
    title: 'Company',
    links: [
      { href: '/company/about', text: 'About Us' },
      { href: '/company/mission', text: 'Mission' },
      { href: '/company/careers', text: 'Careers' },
      { href: '/company/press', text: 'Press' },
      { href: '/company/contact', text: 'Contact' },
    ],
  },
  {
    title: 'Security',
    links: [
      { href: '/company/about', text: 'Security' },
      { href: '/company/careers', text: 'About Fraud' },
    ],
  },
  {
    title: 'Help',
    links: [
      { href: '/company/about', text: 'Terms & Conditions' },
      { href: '/company/careers', text: 'FAQs' },
      { href: '/company/careers', text: 'Contact Us' },
    ],
  },
];

// Define social media links
const socialLinks = [
  { href: '#', icon: facebook, alt: 'Facebook' },
  { href: '#', icon: instagram, alt: 'Instagram' },
  { href: '#', icon: twitter, alt: 'Twitter' },
  { href: '#', icon: linkedin, alt: 'Linkedin' },
  { href: '#', icon: youtube, alt: 'Youtube' },
];
---

<footer class='pt-14 pb-[156px] px-12 bg-neutral-800 flex flex-col'>
  <div class='grid grid-cols-5 gap-8 mb-12 mb-[108px]'>
    {
      navSections.map((section) => (
        <div class='text-white'>
          <h3 class='mb-4 text-xl font-semibold'>{section.title}</h3>
          <ul class='list-none'>
            {section.links.map((link, index) => (
              <li class={index < section.links.length - 1 ? 'mb-4' : ''}>
                <a
                  href={link.href}
                  class='text-base font-normal no-underline transition-colors duration-300 text-zinc-400 hover:text-white'
                >
                  {link.text}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>

  <div class='flex flex-row items-center justify-between mb-[28px]'>
    <Image src={logo} alt='Jingle Pay' height={50} />

    <div class='flex gap-4'>
      {
        socialLinks.map((social) => (
          <a
            href={social.href}
            class='flex items-center justify-center w-6 h-6 rounded-full transition-all duration-300 hover:-translate-y-[3px]'
          >
            <Image src={social.icon} alt={social.alt} />
          </a>
        ))
      }
    </div>
  </div>

  <div class='h-0 outline-[0.48px] outline-offset-[-0.24px] outline-zinc-500 mb-[51px]'></div>

  <p class='text-xs font-normal text-neutral-500'>
    Jingle Pay Limited is a money services provider in Dubai International Financial Center (DIFC) regulated by Dubai
    Financial Services Authority (DFSA), with license number F005329, for Providing Money Services under “Innovation
    Testing License”. Due to the restricted nature of the license during testing stage, normal requirements and client
    protections may not apply and clients may have limited rights if they suffer loss as a result of taking part in
    testing of its services.
  </p>
</footer>
