---
import FeatureBanner, { type FeatureBannerProps } from './FeatureBanner.astro';
import PromoBanner, { type PromoBannerProps } from './PromoBanner.astro';
import { Image } from 'astro:assets';

import Shadow1 from '@assets/images/features/shadow1.svg';
import Shadow2 from '@assets/images/features/shadow2.svg';
import ShadowPromo from '@assets/images/promos/shadow-promo.svg';

import multipleAccountsImage from '@assets/images/features/accounts-feature.webp';
import transferImage from '@assets/images/features/transfer-feature.webp';
import walletPromoImage from '@assets/images/promos/wallet-promo.webp';

const { translations: { carousal = {} } } = Astro.locals;

const carouselItems: (FeatureBannerProps | PromoBannerProps)[] = [
  {
    titles: carousal.multipleAccounts,
    backgroundColor: 'bg-gradient-to-br from-teal-400 via-green-400 to-teal-400',
    textColor: '#000000',
    imageSrc: multipleAccountsImage,
    imageAlt: 'Multiple accounts feature illustration showing cards and app interface',
    type: 'feature',
    shadow: Shadow1,
  },
  {
    heading: carousal.earn,
    description:
      carousal.earnDescription,
    backgroundColor: 'bg-[radial-gradient(ellipse_at_center,_#8744D4_0%,_#6526AE_100%)]',
    textColor: '#FFFFFF',
    imageSrc: walletPromoImage,
    imageAlt: 'Smartphone showing JinglePay wallet interface with coins',
    type: 'promo',
    shadow: ShadowPromo,
  },
  {
    titles: carousal.payBills,
    subtitle: carousal.payBillsDescription,
    backgroundColor: 'bg-[radial-gradient(ellipse_at_center,_#31B3FB_0%,_#137EC5_100%)]',
    textColor: '#FFFFFF',
    imageSrc: transferImage,
    imageAlt: 'Illustration of fast money transfer with phone and icons',
    type: 'feature',
    shadow: Shadow2,
  },
];

carouselItems.push(...carouselItems);

const imageWidths = [240, 360, 480]; // Example widths
const imageSizes = '(max-width: 767px) 50vw, (max-width: 1023px) 40vw, 400px'; // Adjust sizes based on actual layout
---

<section class='overflow-hidden py-8 w-full md:py-12 lg:py-16'>
  <div class='swiper feature-carousel'>
    <div class='pb-4 swiper-wrapper'> 
      {
        carouselItems.map((item) => (
          <div class='h-auto swiper-slide'>
            {item.type === 'feature' ? (
              <FeatureBanner {...(item as FeatureBannerProps)}>
               <div class="relative">
                <Image
                  src={item.imageSrc}
                  alt={item.imageAlt}
                  widths={imageWidths}
                  sizes={imageSizes}
                  loading='lazy'
                  decoding='async'
                  quality="max"
                  class='relative z-[1] object-contain w-auto h-48 sm:h-56 md:h-60 lg:h-64 3xl:h-72 4xl:h-80' 
                  />
                  {item.shadow && <item.shadow class='absolute bottom-[10px] right-[35px] 3xl:right-[55px] 4xl:right-[75px] max-w-[160px] md:max-w-[200px] lg:max-w-full'  />}
               </div>
              </FeatureBanner>
            ) : (
              <PromoBanner {...(item as PromoBannerProps)}>
             <div class="relative">
                <Image
                  src={item.imageSrc}
                  alt={item.imageAlt}
                  widths={imageWidths}
                  sizes={imageSizes}
                  loading='lazy'
                  decoding='async'
                  quality="max"
                  class='object-contain w-auto h-48 sm:h-56 md:h-60 lg:h-64 3xl:h-72 4xl:h-80' 
                />
                {item.shadow && <item.shadow class='absolute bottom-[-20px] right-[20px] 3xl:right-[40px] 4xl:right-[75px] max-w-[160px] md:max-w-[200px] lg:max-w-full' />}
             </div>
              </PromoBanner>
            )}
          </div>
        ))
      }
    </div>
  </div>
</section>

<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css' />

<script>
  import Swiper from 'swiper';
  import { Autoplay, EffectCoverflow } from 'swiper/modules'; 

  document.addEventListener('DOMContentLoaded', () => {
    const swiper = new Swiper('.feature-carousel', {
      modules: [Autoplay, EffectCoverflow],
      loop: true,
      centeredSlides: true,
      effect: 'coverflow',
      grabCursor: true,

      autoplay: {
        delay: 8000,
        disableOnInteraction: false,
        pauseOnMouseEnter: true,
      },

      slidesPerView: 1.1, 
      spaceBetween: 47, 
      coverflowEffect: { 
        rotate: 0,
        stretch: 10,
        depth: 100,
        modifier: 1.5,
        slideShadows: false,
      },
      breakpoints: {
        576: {
          slidesPerView: 1.25 ,
          spaceBetween: 90,
          coverflowEffect: {
            rotate: 0,
            stretch: 30,
            depth: 120,
            modifier: 1.2,
            slideShadows: false,
          },
        },
        768: {
          slidesPerView: 1.1,
          spaceBetween: 96,
          coverflowEffect: {
            rotate: 0,
            stretch: 30,
            depth: 120,
            modifier: 1.2,
            slideShadows: false,
          },
        },
        992: {
          slidesPerView: 1.3,
          spaceBetween: 130,
          coverflowEffect: {
            rotate: 0,
            stretch: 50,
            depth: 150,
            modifier: 1,
            slideShadows: false,
          },
        },
         1200: {
          slidesPerView: 1.5,
          spaceBetween: 150,
          coverflowEffect: {
            rotate: 0,
            stretch: 60,
            depth: 180,
            modifier: 1,
            slideShadows: false,
          },
        },
        1400: {
          slidesPerView: 1.5,
          spaceBetween: 160,
          coverflowEffect: {
            rotate: 0,
            stretch: 60,
            depth: 180,
            modifier: 1,
            slideShadows: false,
          },
        },
        1600: {
          slidesPerView: 1.5,
          spaceBetween: 175,
          coverflowEffect: {
            rotate: 0,
            stretch: 60,
            depth: 180,
            modifier: 1,
            slideShadows: false,
          },
        },
        1900: {
          slidesPerView: 1.5,
          spaceBetween: 190,
          coverflowEffect: {
            rotate: 0,
            stretch: 60,
            depth: 180,
            modifier: 1,
            slideShadows: false,
          },
        }
      }
    });
  });
</script>

<style is:global>
.feature-carousel .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

.feature-carousel .swiper-slide > div { 
   width: 100%;
   height: 100%;
   min-height: 320px;
   sm:min-height: 360px;
   lg:min-height: 400px;
}
</style>
