---
const {
  translations: { uaeHero = {} },
} = Astro.locals;

console.log(uaeHero);
---

<div class='flex flex-col items-center justify-start w-full gap-4 lg:items-start sm:gap-5'>
  <h1
    id='hero-heading'
    class="max-w-[750px] mx-auto lg:mx-0 self-stretch text-[24px] sm:text-5xl lg:text-4xl xl:text-5xl font-semibold font-['Hero_New'] tracking-[-0.02em] text-center lg:text-start"
  >
    <span class='text-zinc-800'>{uaeHero?.heading}</span>
    <span class='text-violet-500'>{uaeHero?.highlightedText}</span><br class='hidden xl:block' />
    <span class='text-zinc-800'>{uaeHero?.anywhere} {uaeHero?.anytime}</span><br class='hidden sm:block' />
    <span class='text-zinc-800'>{uaeHero?.anyway}</span>
  </h1>

  <p
    class='w-full max-w-[485px] text-neutral-500 text-base sm:text-xl font-normal font-[Hero_New] leading-6 sm:leading-7 text-center lg:text-start'
  >
    {uaeHero?.description}
  </p>
</div>
